.pagination {
  display: flex;
  flex-direction: row;
}

.pagination a {
  margin-top: 25px;
  margin-left: 1px;
  /*border: 1px solid rgb(29, 29, 29);*/
  /*border-radius: 4px;*/
  padding: 2px;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.pages {
  display: flex;
  flex-direction: row;
  
}

.pagination a {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(26, 25, 25, 0.541);
  align-items: center;
  text-decoration: none;
  justify-content: center;
  border-radius: 2px;
  color: black;
  font-size: 13px;
  padding: 0 10px;
  cursor: pointer;
}


a.active-page{
  background-color: lightgray;
}
