.create {
  height: 95vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #0e1111be;
  margin-bottom: 10px;
}

.container-button {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 700px;
}

.submit{
  margin-right: 20px;
}

.container-input input{
  width: 700px;
  margin-bottom: 5px;
}

